<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Angular Material style sheet -->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
    <!-- firebaseUI style -->
    <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/2.5.1/firebaseui.css" />

    <link rel="stylesheet" href="style/style.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <link rel="stylesheet" href="style/main.css">
    <title>BitBuy</title>
    <!--  Bootstrap style and scripts-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
    <!-- firebase.js and App(account) configuration-->
    <script src="https://www.gstatic.com/firebasejs/live/4.3/firebase.js"></script>
    <script src="config-firebaseApp.js"></script>
    <script src="https://cdn.firebase.com/libs/firebaseui/2.5.1/firebaseui.js"></script>

    <!--Angular Material requires Angular.js Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular-sanitize.min.js"></script>

    <!-- Angular Material Library -->
    <script src="https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.5/angular-material.js"></script>
    <script src="https://code.angularjs.org/1.5.5/angular-route.min.js"></script>
    <script src="scripts/swx-session-storage.min.js"></script>
    <script src="scripts/ng-infinite-scroll.js"></script>
    <script src="app.js"></script>

    <script type="text/javascript">
//        // FirebaseUI config.
//        var currentUrl = window.location.href;
//        console.log(currentUrl);
//        var uiConfig = {
//
//            signInSuccessUrl: '#secondPage2',
//            callbacks: {
//                signInSuccess: function(currentUser) {
//
//                    $(function () {
//                        $('.modal').modal('toggle');
//                    });
//
//                    console.log(currentUser);
//
//                    return true;
//                },
//                uiShown: function() {
//
//                }
//            },
//            signInFlow: 'popup',
//            signInOptions: [
//                // Leave the lines as is for the providers you want to offer your users.
//                firebase.auth.GoogleAuthProvider.PROVIDER_ID,
//                firebase.auth.FacebookAuthProvider.PROVIDER_ID,
//                firebase.auth.EmailAuthProvider.PROVIDER_ID
//            ],
//            // Terms of service url.
//            credentialHelper: firebaseui.auth.CredentialHelper.GOOGLE_YOLO,
//            'tosUrl': 'https://www.google.com'
//        };
//
//        // Initialize the FirebaseUI Widget using Firebase.
//        var ui = new firebaseui.auth.AuthUI(firebase.auth());
//
//        // The start method will wait until the DOM is loaded.
//
//        ui.start('.modal-body', uiConfig);
//        //    ui.start('#firebaseui-auth-container', uiConfig);
    </script>

</head>
<body>

<div ng-controller="navCtrl">

    <md-nav-bar md-no-ink-bar="disableInkBar" md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
    <!--<md-button>Click</md-button>-->
        <!--<div class="top-container">-->
            <!--<button class="login-text" data-toggle="modal" data-target="#exampleModalCenter" ng-if="loginBtn">Sign-In</button>-->
        <!--</div>-->

    <!-- top header -->
    <div class="top-container">
        <button class="login-text" data-toggle="modal" data-target="#exampleModalCenter" ng-if="loginBtn">Sign-In</button>

        <md-menu md-offset="0 60">
            <div class="headerBtn">
                <img src="images/user.png" class="user-img-header" ng-click="openMenu($mdMenu, $event)" ng-show="userOptions">
                <img src="images/notifications.png" class="notifications" ng-show="notificationsHeader">
                <a href="#/addItem" ><img src="images/addItem.png" class="add-item-header" ng-show="addItemHeader"></a>
            </div>
            <md-menu-content width="4">
                <md-menu-item>
                    <md-button ng-click="myProfile($event)">
                        <img src="images/user2.png">&nbsp;
                        <p>My Profile</p>
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button ng-click="myItems($event)">
                        <img src="images/list.png">&nbsp;
                        <p>My Items</p>
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button ng-click="buyerBoard($event)">
                        <img src="images/cart.png">&nbsp;
                        <p>Candidacies</p>
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button ng-click="redial($event)">
                        <img src="images/settings.png">&nbsp;
                        <p>Settings</p>
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button ng-click="logOut($event)">
                        <img src="images/exit.jpg">&nbsp;
                        <p>Sign-out</p>
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>

        <form ng-submit="searchItem(searchInput)">
            <input type="text" class="search-box" placeholder="Search for an item" ng-model="searchInput">
        </form>
        <div class="d">
            <h3 class="bitbuy-text" >BitBuy</h3>
            <img class="logo" src="images/logo.png" ng-click="homePage()">
        </div>

    </div>

    <!--<form ng-submit="searchItem()">-->
            <!--<input type="text" class="search-box" placeholder="Search for an item" ng-model="searchField">-->
        <!--</form>-->
        <!--<div class="d">-->
            <!--<h3 class="bitbuy-text" >BitBuy</h3>-->
            <!--<a href="#/"><img class="logo" src="images/logo.png"></a>-->
        <!--</div>-->
    <!--</div>-->

    </md-nav-bar>

    <div id="firebaseui-auth-container"></div>

    <!-- Modal -->

    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header" style="margin: auto">
                    <h5 class="modal-title text-center" id="exampleModalLongTitle">Sign-in to BitBuy</h5>
                </div>

                <div class="modal-body"></div>
            </div>
        </div>
    </div>

    <!-- Sidenav -->

    <section layout="row" flex>

        <md-sidenav class="md-sidenav-right" md-component-id="main-sidenav"
                    md-disable-backdrop md-whiteframe="4">

            <md-toolbar class="md-theme-indigo">
                <h1 class="md-toolbar-tools">Item details</h1>
            </md-toolbar>

            <img src="images/update-icon.png" ng-click="updateItemPage()" id="update-icon">

            <md-content layout-margin>

                    <h3> {{ itemPrice }}$</h3>
                    <br>
                    <!--<h6> <span class="item-sidenav-detail">User:</span> {{ username }}</span></h6>-->
                    <div ng-bind-html="userText"></div>
                    <!--<br>-->
                    <!--<h6> <span class="item-sidenav-detail">Rating average:</span> {{ avgUser }}</span></h6>-->
                    <div ng-bind-html="ratingText"></div>
                    <!--<br>-->
                    <h6> <span class="item-sidenav-detail">Item name:</span> {{ itemName }} </h6>
                    <br>
                    <h6><span class="item-sidenav-detail">link:</span></h6>
                    <br>
                    <h6><span class="item-sidenav-detail">Info:</span></h6>

                <div class="sidenav-buttons" ng-if="applyToBuyVisibility" ng-click="applyToBuy()">
                    <p class="sidenav-buttons-text">Apply to Buy!</p>
                </div>
                <div class="sidenav-buttons" ng-click="startChat()">
                    <p class="sidenav-buttons-text">Chat</p>
                </div>
                <div id="sidenav-bitOwner-buttons" ng-if="CandidateAndRemoveVisibility">
                    <div class="sidenav-buttons" ng-click="chooseCandidate($event)">
                        <p class="sidenav-buttons-text">Choose candidate</p>
                    </div>
                    <div class="sidenav-buttons" ng-click="removeItem($event)">
                        <p class="sidenav-buttons-text">Remove item</p>
                    </div>
                </div>

                <!--<md-button ng-click="viewItem()" class="md-accent">-->
                    <!--Close this Sidenav-->
                <!--</md-button>-->

            </md-content>

        </md-sidenav>

    </section>

    <div ng-view></div>


    <div id="bottom-bar">
        <md-toolbar class="footer">
            <div class="md-toolbar-tools">
                <a href="#" class="footer-options"><p>צור קשר</p></a>
                <a href="#" class="footer-options"><p>מדיניות</p></a>
                <a href="#" class="footer-options"><p>תנאי שימוש</p></a>
            </div>
        </md-toolbar>
    </div>


    <!-- Footer -->
    <!--<div class="footer">-->
        <!--<a href="#" class="footer-options"><p>צור קשר</p></a>-->
        <!--<a href="#" class="footer-options"><p>מדיניות</p></a>-->
        <!--<a href="#" class="footer-options"><p>תנאי שימוש</p></a>-->
    <!--</div>-->

</div>

</body>
</html>