<div style="padding: 30px">
    <h5 style="padding: 10px;">Enter your current password in order to update your email address.</h5>
    <div style="display:table;margin: auto">
        <form ng-submit="confirmPass()" >
            <md-input-container>
                <label>Password</label>
                <input type="password" ng-model="userPass" required>
            </md-input-container>
            <md-button type="submit" md-no-ink class="md-primary">OK</md-button>
        </form>

    </div>
</div>