<!--<div style="overflow: scroll;max-height: 85vh;width:100%">-->
    <!--<div class="items-page-container" ng-repeat="item in itemsArr" user-items></div>-->
<!--</div>-->

<!--<div id="itemsScreen" style="overflow: scroll;max-height: 1000px;width:100%">-->
    <!--<div class="items-page-container" ng-repeat="item in itemsArr" user-items></div>-->
<!--</div>-->

<div>
    <div id="itemsScreen" infinite-scroll='getItemsScroll()' infinite-scroll-disabled='reddit.busy' infinite-scroll-distance='1' style="overflow: scroll;width:100%">
        <div class="items-page-container" ng-repeat="item in itemsArr" user-items></div>
    </div>
    <div class="loadmore" ng-if="loadmore">
        <md-button ng-click="getItemsScroll()">
            Load more
        </md-button>
    </div>
</div>

<!--<div style="text-align: center">-->
    <!--<md-button ng-click="getItemsScroll()">-->
        <!--Load more-->
    <!--</md-button>-->
<!--</div>-->

<!--<div style="text-align: center;height:100px;">-->
    <!--<md-button ng-click="getItemsScroll()">-->
        <!--Load more-->
    <!--</md-button>-->
<!--</div>-->


<!--<div class="items-container">-->
<!--<div class="card" style="width: 18rem;">-->
<!--<img class="card-img-top" src="images/item.png" alt="Card image cap">-->
<!--<div class="card-body">-->
<!--<img src=""><p class="card-text">Item name</p><p class="price">250$</p>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
