<div style="overflow: scroll;max-height: 85vh;width:100%">
    <div class="items-page-container" ng-repeat="item in userItems" user-items></div>
</div>

<section layout="row" flex>

    <md-sidenav class="md-sidenav-right" md-component-id="userMyItems-sidenav"
                md-disable-backdrop md-whiteframe="4">

        <md-toolbar class="md-theme-indigo">
            <h1 class="md-toolbar-tools">Item details</h1>
        </md-toolbar>

        <md-content layout-margin>

            <h3> {{ itemPrice }}$</h3>
            <br>
            <!--<h6> <span class="item-sidenav-detail">User:</span> {{ username }}</span></h6>-->
            <div ng-bind-html="userText"></div>
            <!--<br>-->
            <!--<h6> <span class="item-sidenav-detail">Rating average:</span> {{ avgUser }}</span></h6>-->
            <div ng-bind-html="ratingText"></div>
            <!--<br>-->
            <h6> <span class="item-sidenav-detail">Item name:</span> {{ itemName }} </h6>
            <br>
            <h6><span class="item-sidenav-detail">link:</span></h6>
            <br>
            <h6><span class="item-sidenav-detail">Info:</span></h6>

            <div class="sidenav-buttons" ng-if="applyToBuyVisibility" ng-click="applyToBuy()">
                <p class="sidenav-buttons-text">Apply to Buy!</p>
            </div>
            <div id="sidenav-bitOwner-buttons">
                <div class="sidenav-buttons" ng-click="chooseCandidate($event)" ng-if="userBoardchooseCand">
                    <p class="sidenav-buttons-text">Choose candidate</p>
                </div>
                <div class="sidenav-buttons" ng-click="removeItem($event)" ng-if="userBoardItemDelete">
                    <p class="sidenav-buttons-text">Remove item</p>
                </div>
            </div>

            <!--<md-button ng-click="viewItem()" class="md-accent">-->
            <!--Close this Sidenav-->
            <!--</md-button>-->
        </md-content>

    </md-sidenav>

</section>
