<div id="profile-container">
    <img src="http://canacopegdl.com/images/item/item-7.jpg" id="profile-img">

    <input class="input-text-profile" type="text" placeholder="Email" ng-value="userEmail" ng-model="newEmail">
    <br>
    <div class="sidenav-buttons" ng-click="updateEmail()">
        <p class="sidenav-buttons-text" >Update Email</p>
    </div>

    <div id="password-container">
        <input class="input-text-profile" type="password" placeholder="Current password" ng-model="oldPass">
        <input class="input-text-profile" type="password" placeholder="New password" ng-model="password1">
        <input class="input-text-profile" type="password" placeholder="Confirm password" ng-model="password2">
    </div>
    <div class="sidenav-buttons update-password-btn" ng-click="updatePass()">
        <p class="sidenav-buttons-text">Update password</p>
    </div>
</div>

