<div class="items-container">
    <div class="card" style="width: 18rem;">
        <!--<img class="card-img-top" src="images/item.png" alt="Card image cap" ng-click="img(item.name)">-->
        <img class="card-img-top" src="{{item.picture.url}}" alt="Card image cap" ng-click="viewItem(item)">
        <div class="card-body">
            <img src=""><p class="card-text">{{ item.name }}</p><p class="price">{{ item.price }}$</p>
        </div>
    </div>
</div>