<h1>
    Hello World!
</h1>

 <!-- Dialog types -->

<md-button class="md-primary md-raised" ng-click="showAlert($event)"   >
    Alert Dialog
  </md-button>
<md-button class="md-primary md-raised" ng-click="showPrompt($event)"  >
    Prompt Dialog
</md-button>

<h2>{{status}}</h2>

<md-button class="md-primary md-raised" ng-click="showAdvanced($event)">
    Custom Dialog
</md-button>

<!-- Snackbar -->

<md-button ng-click="showSimpleToast()">
    Show Snackbar
</md-button>

<!-- Sidenav -->

<section layout="row" flex>

    <md-sidenav class="md-sidenav-right" md-component-id="right"
                md-disable-backdrop md-whiteframe="4">

        <md-toolbar class="md-theme-indigo">
            <h1 class="md-toolbar-tools">Disabled Backdrop</h1>
        </md-toolbar>

        <md-content layout-margin>
            <p>Hello!</p>
            <p>This is a Sidenav!</p>
            <input type="text" placeholder="Enter text">

            <md-button ng-click="toggleLeft()" class="md-accent">
                Close this Sidenav
            </md-button>
        </md-content>

    </md-sidenav>

    <md-content flex layout-padding>

     <div layout="column" layout-align="top center">

            <div>
                <md-button ng-click="toggleLeft()" class="md-raised">
                    Toggle Sidenav
                </md-button>
            </div>

        </div>

     </md-content>

</section>

<!-- Menu --> 

<div>
    <md-menu>
      <md-button  class="md-icon-button"  aria-label="Open phone interactions menu"  ng-click="openMenu($mdMenu, $event)">
        <md-icon md-menu-origin md-svg-src="images/settings_svg.svg"></md-icon>
      </md-button>
      <md-menu-content width="4">
        <md-menu-item>
          <md-button ng-click="redial($event)">
            <md-icon md-svg-src="images/shopping_cart_svg.svg"></md-icon>
            Redial
          </md-button>
        </md-menu-item> 
      </md-menu-content>
    </md-menu>
  </div>

<!-- List -->

<div layout-gt-sm="row">
    <div>
        <md-list-item class="md-3-line" ng-repeat="item in todos" ng-click="null">
            <div class="md-list-item-text" layout="column">
                <h3>{{ item.who }}</h3>
                <h4>{{ item.what }}</h4>
                <p>{{ item.notes }}</p>
            </div>
        </md-list-item>
    </div>
</div>
