<div class="items-page-container" ng-repeat="item in candidateItems" user-items></div>

<section layout="row" flex>

    <md-sidenav class="md-sidenav-right" md-component-id="userBuyerBoard-sidenav"
                md-disable-backdrop md-whiteframe="4">

        <md-toolbar class="md-theme-indigo">
            <h1 class="md-toolbar-tools">Item details</h1>
        </md-toolbar>

        <md-content layout-margin>

            <h3> {{ itemPrice }}$</h3>
            <br>
            <h6> <span class="item-sidenav-detail">User:</span> {{ username }}</span></h6>
            <!--<div ng-bind-html="userText"></div>-->
            <br>
            <h6> <span class="item-sidenav-detail">Rating average:</span> {{ avgUser }}</span></h6>
            <div ng-bind-html="ratingText"></div>
            <br>
            <h6> <span class="item-sidenav-detail">Item name:</span> {{ itemName }} </h6>
            <br>
            <h6><span class="item-sidenav-detail">link:</span></h6>
            <br>
            <h6><span class="item-sidenav-detail">Info:</span></h6>
            <br>
            <div class="sidenav-buttons" ng-if="applyToBuyVisibility" ng-click="applyToBuy()">
                <p class="sidenav-buttons-text">Apply to Buy!</p>
            </div>
            <div id="sidenav-bitOwner-buttons">

                <h6><span class="item-sidenav-detail">Request status:</span> {{ requestStatus }}</h6>
                <br>
                <div class="sidenav-buttons" ng-click="removeCandidacy($event)" ng-if="buyerBoardItemDelete">
                    <p class="sidenav-buttons-text">Remove candidacy</p>
                </div>
            </div>

        </md-content>

    </md-sidenav>

</section>
