<!--{{load()}}-->
<!--<button ng-click="load()">load</button>-->
    <div id="messages-card" class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-cell--6-col-tablet mdl-cell--6-col-desktop" data-ng-init="load()">
        <div class="mdl-card__supporting-text mdl-color-text--grey-600">
            <div id="messages">
                <span id="message-filler"></span>
            </div>
            <form action="#" ng-submit="postMsg()">
                <div layoyt="row">
                    <md-input-container md-no-float id="chat-input-container">
                        <input ng-model="msgInput" id="message" placeholder="Message ..." required>
                    </md-input-container>
                    <md-button class="md-raised md-primary" type="submit">Send</md-button>
                </div>
            </form>
        </div>
    </div>

    <md-dialog-actions>
        <md-button ng-click="endChat()">
            End chat
        </md-button>
    </md-dialog-actions>

<!--<div class="mdl-textfield mdl-js-textfield mdl-textfield&#45;&#45;floating-label">-->
    <!--<md-input-container md-no-float class="md-block">-->
        <!--<input ng-model="msgInput" id="message" placeholder="Message...">-->
        <!--<button type="send" class="mdl-button mdl-js-button mdl-button&#45;&#45;raised mdl-js-ripple-effect">Send</button>-->
    <!--</md-input-container>-->
<!--</div>-->
