<div layout-gt-sm="row">
    <div style="padding: 25px">
        <h3 class="list-item-title">{{ title }}</h3>

        <md-list-item class="md-3-line" ng-repeat="candidate in candidatesArr" ng-click="selectCandidate(candidate)">
            <div class="md-list-item-text" layout="column" >
                <h3 class="list-header"><span class="list-header-properyName">Candidate Name:</span> {{ candidate.candidateName }}</h3>
                <h3 class="list-header"><span class="list-header-properyName">Candidate Status:</span> {{ candidate.status }}</h3>
            </div>
            <md-divider></md-divider>
        </md-list-item>
    </div>
</div>

