<script type="text/javascript">
    // FirebaseUI config.
    var currentUrl = window.location.href;
    console.log(currentUrl);
    var uiConfig = {
         signInSuccessUrl: '#secondPage2',
//        signInSuccessUrl: 'pages/secondPage2.html',
//        callback: {
//            signInSuccess: (currentUser) => {
//
//                currentUser2 = currentUser;
//
//                return true;
//            }
//
//        },
        signInFlow: 'popup',
        signInOptions: [
            // Leave the lines as is for the providers you want to offer your users.
            firebase.auth.GoogleAuthProvider.PROVIDER_ID,
            firebase.auth.FacebookAuthProvider.PROVIDER_ID,
            firebase.auth.EmailAuthProvider.PROVIDER_ID
        ],
        // Terms of service url.
        credentialHelper: firebaseui.auth.CredentialHelper.GOOGLE_YOLO,
        'tosUrl': 'https://www.google.com'
    };

    // Initialize the FirebaseUI Widget using Firebase.
    var ui = new firebaseui.auth.AuthUI(firebase.auth());

    // The start method will wait until the DOM is loaded.

        ui.start('#firebaseui-auth-container', uiConfig);
//    ui.start('#firebaseui-auth-container', uiConfig);
</script>

<!-- top header -->
<div class="top-container">
    <button class="login-text" data-toggle="modal" data-target="#exampleModalCenter">Login</button>

    <input type="text" class="search-box" placeholder="חפש מוצר כלשהו...">
</div>

<div id="firebaseui-auth-container"></div>

<!-- Modal -->
<!--<div class="">-->
    <!--<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">-->
        <!--<div class="modal-dialog" role="document">-->
            <!--<div class="modal-content">-->
                <!--<div class="modal-header" style="margin: auto">-->
                    <!--<h5 class="modal-title text-center" id="exampleModalLongTitle">Sign-in to BitBuy</h5>-->
                <!--</div>-->

                <!--<div class="modal-body"></div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

<!-- Footer -->

<div class="footer">
    <a href="#"><p class="footer-options">צור קשר</p></a>
    <a href="#"><p class="footer-options">מדיניות</p></a>
    <a href="#"><p class="footer-options">תנאי שימוש</p></a>
</div>