<div id="profile-container">
    <h1 class="add-item-text-header">Update Item</h1>
    <input type="file" ng-file-select="onFileSelect($files)" id="myFile" ng-model="imageSrc" accept="image/png, image/jpeg"><br>

    <img ng-src="{{imageSrc}}" width="300" height="300" />

    <div id="password-container">
        <div>
            <input class="input-text-profile" type="text" placeholder="Item name" ng-model="name" style="display: block;float: left">
            <input class="input-text-profile" type="text" placeholder="Description" ng-model="desc" style="display: inline">
        </div>
        <input class="input-text-profile" type="text" placeholder="Link" ng-model="link" style="display: block">
        <input class="input-text-profile" type="text" placeholder="Price" ng-model="price" style="display: block" >
    </div>
    <div class="sidenav-buttons update-password-btn" ng-click="updateItem()">
        <p class="sidenav-buttons-text">Update</p>
    </div>
</div>