body{
    margin: 0;
    padding: 0;
}
.top-container{
    width: 100%;
    height: 93px;
    background-color: #ffffff;
    box-shadow: 6px 2px 20px 0 rgba(0, 0, 0, 0.06);
}

.top-container .login-text {
    width: 140px;
    height: 37px;
    font-family: Arial;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.8px;
    text-align: center;
    line-height: 0%;
    color: #67c2c3;
    letter-spacing: 0.7px;
    float: right;
    margin-right: 54px;
    margin-top: 27px;
    border-radius: 20px;
    background-color: #ffffff;
    box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.06);
    border: solid 1px rgba(25, 151, 144, 0.23);
    cursor: pointer;
}

.top-container .login-text:hover{
    background: #67c2c3;
    color: #ffffff;
    text-decoration: none;
}
.loadmore{
    height: 30%;
    display: table;
    margin: auto;
}
.loadmore .md-button{
    margin: 0 !important;
}
.top-container .search-box{
    padding-left: 20px;
    width: 500px;
    height: 53px;
    border-radius: 20px;
    background-color: #ffffff;
    box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.06);
    border: solid 1px rgba(25, 151, 144, 0.23);
    font-family: Arial;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.8px;
    text-align: left;
    padding-right: 40px;
    background-image: url(../images/icon-search.png);
    background-repeat: no-repeat;
    background-position:98%;
    float:right;
    margin-top: 19px;
    margin-right: 276px;
}
.top-container .search-box::placeholder{
    color: #000000;
    opacity: 0.3;
}

.card-body *{
    float: left;
    margin-right: 10px;
}

.items-container{
    padding: 33px;
    width: 430px;
    /*height: 335px;*/
    height: 320px;
    float: left;
    margin: 10px 20px;
}
.items-container .card{
    width: 430px !important;
    height: 320px;
    box-shadow: 6px 2px 20px 0 rgba(0, 0, 0, 0.06);
}
.md-nav-bar{
    height: 80px !important;
}
.items-page-container{
   margin: 0 10%;
}

.price {
    width: 80px;
    height: 24px;
    font-family: Arial;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #5f6d74;
    float: right;
    text-align: right;
}
.items-container .card-img-top{
    width: 430px;
    height: 251px;
}
.items-container .card-body{
    width: 430px;
    height: 84px;
}
.items-container .card-text{
    font-family: Arial;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #5f6d74;
}
.item-sidenav-detail{
    font-family: Arial;
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: #5f6d74;
}
.sidenav-buttons{
    width: 120px;
    height: 55px;
    border-radius: 20px;
    background-color: #ffffff;
    box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.06);
    border: solid 1px rgba(25, 151, 144, 0.23);
}
.sidenav-buttons:hover{
    background-color: rgba(25, 151, 144, 0.23);
    cursor: pointer;
}
.sidenav-buttons:hover :first-child{
    color: white;
    font-weight: bold;
}
.update-password-btn{
    width: 150px !important;
}
md-content{
    display: table !important; /* sideNav */
}
md-sidenav{
    width: 450px;
}
.sidenav-buttons-text{
    font-family: Arial;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 55px;
    letter-spacing: 0.8px;
    text-align: center;
    color: #67c2c3;
}
#messages{
    height: 500px !important;
    overflow-y: auto;
}
.md-errors-spacer{
    display: none;
}
#chat-input-container{
    width: 85% !important;
}
#sidenav-bitOwner-buttons .sidenav-buttons{
    width: 160px;
    float: left;
    margin-right: 15px;
}
.list-header{
    line-height: 25px !important;
}
.list-header .list-header-properyName{
    font-weight: bold;
    font-size: 15px;
}
.list-item-title{
    padding: 15px;
    font-weight: bold;
    text-decoration: underline;
}
md-toolbar.md-default-theme:not(.md-menu-toolbar), md-toolbar:not(.md-menu-toolbar){
    background: #4c4c4c !important;
}
md-toolbar{
    /*min-height: inherit !important;*/
    min-height: inherit !important;
}
#bottom-bar ._md-toolbar-transitions{
    background-color: #4c4c4c !important;
}
.footer{
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #4c4c4c;
    color: white;
    text-align: center;
}
.footer *{
    display: inline;
}
.footer .footer-options{
    width: 80.1px;
    height: 50px;
    font-family: Arial;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.5em;
    letter-spacing: normal;
    text-align: right;
    color: #ffffff;
    margin-right: 73px;
    margin-top: 30px;
    text-decoration: none;
}
.footer .footer-options:hover {
    color: #67c2c3;
}

.bitbuy-text{
    float: right;
    background-image: radial-gradient(circle at 44% 50%, #6dc6ca, #96f2ff);
    font-family: Arial;
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    margin-top:36px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.11);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: radial-gradient(circle at 44% 50%, #6dc6ca, #96f2ff);
}
.logo{
    width: 74px;
    height: 83.9px;
    object-fit: contain;
    float: right;
    cursor: pointer;
}

.headerBtn * {
    float: right;
}

.user-img-header{
    width: 50px;
    height: 50px;
    line-height: 100px;
    margin-right: 42px;
    background-color: #67c2c3;
    margin-top: 21px;
    border-radius: 50%;
    box-shadow: 6px 1px 14px 0 rgba(0, 0, 0, 0.04);
}

.notifications{
    margin-top: 26px;
    margin-right: 34px;
    width: 25px;
    height: 33px;
}
.add-item-header{
    width: 30px;
    height: 30px;
    margin-top: 26px;
    margin-right: 29px;
}
#update-icon{
    width: 40px;
    height: 40px;
    cursor: pointer;
    padding: 5px;
}
.d{
    /*margin-right: 250px;*/
    margin-top: 10px;
    height: 84px;
    float: right;
}
#profile-container{
    padding: 40px;
    display: table;
    margin: auto;
}
#profile-img{
    width: 183px;
    height: 183px;
    display: block;
}
.input-text-profile{
    display: block;
    width: 200px;
    padding: 10px;
    margin-top: 15px;
    font-family: Arial;
    font-weight: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #3e6373;
    font-size: 20px;
    border-radius: 6px;
    background-color: #eeeeee;
}

#password-container{
    margin-bottom: 20px;
}
#password-container .input-text-profile{
    display: inline;
    margin-right: 20px;
}
.add-item-text-header{
    font-size: 48px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    color: #67c2c3;
}
